<!DOCTYPE html>
<html lang="en">

<head>
  <title>Table view</title>
  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-5 mb-3">MSO Signoff short description</h1>

          {% if data %}
          <div class="alert alert-primary" role="alert">
            {{data.name}}
          </div>
          {% endif %}
          <table class="table table-hover table-bordered">
            {% comment %} {% for wbs_data in data.wbs_data %} {% endcomment %}
            <tbody>
              <tr>
                <th scope="row">wbs</th>
                <td>
                    {%for wbs in data.wbs_data.wbs %}
                        {{wbs}},
                    {%endfor%}

                </td>
                <th scope="row">cbu_po</th>
                <td>
                    {{data.wbs_data.cbu_po}}

                </td>
             </tr>
             <tr>
                <th scope="row">financial_plan_status</th>
                <td>
                    {{data.wbs_data.financial_plan_status}}    

                </td>
                <th scope="row">budgeted_amount</th>
                <td>
                    {{data.wbs_data.budgeted_amount}}

                </td>
             </tr>
             <tr>
                <th scope="row">billed_amount</th>
                <td>
                    {{data.wbs_data.billed_amount}}

                </td>
                <th scope="row">unbilled_amount</th>
                <td>
                    {{data.wbs_data.unbilled_amount}}

                </td>
             </tr>
              {% comment %} {% endfor %} {% endcomment %}
            </tbody>
          </table>

      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>