<!DOCTYPE html>
<html lang="en">

<head>
  <title>Table view</title>
  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
  </script>
</head>

<body>

  <!-- Page Content -->
  <div class="container">
    
    <div class="row">
        <div class="col-lg-12">
          <h1 class="mt-5 mb-3">MSO Signoff short description</h1>
  
            {% if data_short %}
            <div class="alert alert-primary" role="alert">
              {{data_short.name}}
            </div>
            {% endif %}
            <table class="table table-hover table-bordered">
              {% comment %} {% for wbs_data in data.wbs_data %} {% endcomment %}
              <tbody>
                <tr>
                  <th scope="row">wbs</th>
                  <td>
                      {%for wbs in data_short.wbs_data.wbs %}
                          {{wbs}},
                      {%endfor%}
  
                  </td>
                  <th scope="row">cbu_po</th>
                  <td>
                      {{data_short.wbs_data.cbu_po}}
  
                  </td>
               </tr>
               <tr>
                  <th scope="row">financial_plan_status</th>
                  <td>
                      {{data_short.wbs_data.financial_plan_status}}    
  
                  </td>
                  <th scope="row">budgeted_amount</th>
                  <td>
                      {{data_short.wbs_data.budgeted_amount}}
  
                  </td>
               </tr>
               <tr>
                  <th scope="row">billed_amount</th>
                  <td>
                      {{data_short.wbs_data.billed_amount}}
  
                  </td>
                  <th scope="row">unbilled_amount</th>
                  <td>
                      {{data_short.wbs_data.unbilled_amount}}
  
                  </td>
               </tr>
                {% comment %} {% endfor %} {% endcomment %}
              </tbody>
            </table>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Button with data-target
              </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-lg-12">
                          <h1 class="mt-5 mb-3">MSO Signoff details</h1>
                  
                            {% if data_long %}
                            <div class="alert alert-primary" role="alert">
                              {{data_long.name}}
                            </div>
                            {% endif %}
                            <table id="example" class="table table-hover">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">WBS</th>
                                  <th scope="col">Dwscription</th>
                                  <th scope="col">Milestone due date</th>
                                  <th scope="col">Cap/Exp</th>
                                  <th scope="col">SOW MSO Amount</th>
                                  <th scope="col">HAEA Invoice</th>
                                  <th scope="col">HAEA Invoice Date</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Upload</th>
                                </tr>
                              </thead>
                              {% for wbs_data in data_long.wbs_data %}
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>{{wbs_data.wbs}}</td>
                                  <td>{{wbs_data.description}}</td>
                                  <td>{{wbs_data.milestone_due_date}}</td>
                                  <td>{{wbs_data.Cap_or_Exp}}</td>
                                  <td>${{wbs_data.sow_mso_amount}}</td>
                                  <td>{{wbs_data.haea_invoice}}</td>
                                  <td>{{wbs_data.haea_invoice_date}}</td>
                                  <td>{{wbs_data.status}}</td>
                                  <td><a href="url">upload</a></td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                            
                        </div>
                      </div>
                </div>
            </div>
    
  
        </div>
      </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>